<!-- Comments to post -->
    {% for comment in post.comments.all %}
        <div class="ml-2 mt-0 mb-2 comment-box">
            <div class="container user-comment-box">
            <h6 class="comment-user"> 
                <b>
                    <a href="{% url "users:detail" comment.user.username %}">
                        <img class="mr-3 rounded-circle" height="35" width="35" src="{{ comment.profile.picture.url }}" alt="{{ comment.user.get_full_name }}">
                    {{comment.user}}
                    </a>
                </b>
            </h6>
                <p>{{ comment.text }}</p>
            </div>
        </div>

    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
     <p class="ml-2 mt-0 mb-2">
    <a href="{%url 'posts:comment' post.pk%}">Add comment</a>
    </p>
    